@model MailApp.Models.Groups.AddGroupViewModel

<form asp-action="AddGroup">
    <label asp-for="Name"></label>
    <div class="input-group mb-3">
        <input asp-for="Name" class="form-control" placeholder="Group name">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>