@model MailApp.Models.Groups.GroupsListViewModel

<a asp-action="AddGroup" class="btn btn-primary">Add new group</a>

<table class="table">
    <thead>
        <tr></tr>
        <tr>
            <th scope="col">Your groups:</th>
        </tr>

    </thead>
    <tbody>
    @foreach (var groupViewModel in Model.Groups)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-groupId="@groupViewModel.GroupId">@groupViewModel.Name</a>
            </td>
        </tr>
    }
    </tbody>
</table>