@model MailApp.Models.Groups.RemoveMemberViewModel

<form asp-action="RemoveMember">
    <input asp-for="GroupId" type="hidden" />
    <label asp-for="AccountNick"> Account to remove:</label>
    <div class="input-group mb-3">
        <input asp-for="AccountNick" class="form-control @(ViewContext.ModelState.ContainsKey(nameof(Model.AccountNick)) ? "is-invalid": "")" placeholder="Nick">
        <br />
        <div class="text-danger invalid-feedback">
            @Html.ValidationMessageFor(x => x.AccountNick)
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Remove</button>
</form>