@model MailApp.Models.Groups.RemoveGroupViewModel

Are you sure you want to remove group @Model.Name

<form asp-action="RemoveGroup">
    <input type="hidden" asp-for="GroupId">
    <button type="submit" class="btn btn-danger">Remove</button>
</form>