@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- TOP -->
    <div class="row mx-lg-n5 align-items-center bg-info rounded-bottom">
        <div class="col-sm-2">
            <figure class="figure">
                <h1> <img src="~/letterImage.png" class="figure-img img-fluid rounded" alt="zdjontko" height="50" width="50"> MailApp</h1>
            </figure>
        </div>
        <div class="col-sm">
            <p> </p>
        </div>
        <div class="col-sm-6">
            <p></p>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-primary btn-sm">
                Grupy <span class="badge badge-secondary">8 </span>
            </button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-secondary btn-sm">
                Ustawienia
            </button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-danger btn-sm">
                Wyloguj
            </button>
        </div>
    </div>

    <div class="row mx-lg-n5 align-items-center rounded-bottom marg" style="height: 80px;">
        <div class="col-sm">
            <button type="button" class="btn btn-secondary btn-sm">
                Powrót
            </button>
        </div>
        <div class="col-sm-11">
            <p> </p>
        </div>
    </div>


<!-- BOTTOM -->
    <div class="row mx-lg-n5">
        <!-- Contacts -->
        <div class="col-sm-2 align-self-start">
            <div class="card">
                <div class="card-header">
                    Kontakty:
                </div>
                <div class="list-group">
                    <p class="list-group-item"> Jan Kowalski</p>
                </div>
                <div class="list-group">
                    <p class="list-group-item"> Jan Kowalik </p>
                </div>
                <div class="list-group">
                    <p class="list-group-item"> Jan Gryt </p>
                </div>
                <div class="list-group">
                    <p class="list-group-item"> Arek Kowal </p>
                </div>
                <div class="list-group">
                    <p class="list-group-item"> Marek Czarek </p>
                </div>
                <div class="list-group">
                    <p class="list-group-item"> Zbyszek Kiełbasa </p>
                </div>
                <div class="list-group">
                    <p class="list-group-item"> Jan Stefaniak</p>
                </div>
            </div>
        </div>

        <!-- Message -->
        <div class="col-9">
            <div class="container-fluid rounded-bottom bg-white" style="border-style:outset;">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Do:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Temat:</label>
                    <input class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Treść:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="19"></textarea>
                </div>
                <div class="row" style="height:1px; background: black;"></div>
                <div class="row" style="height: 5px;"></div>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-1">
                        <button type="button" class="btn btn-info btn-sm rounded-pill">
                            Zapisz
                        </button>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-info btn-sm rounded-pill">
                            Wyślij
                        </button>
                    </div>
                </div>
                <div class="row" style="height: 5px;"></div>
            </div>
        </div>
    </div>
