@model MailApp.Models.Messages.MessageListViewModel

<div class="list-group">
    @foreach (var message in Model.Messages)
    {
        <a asp-controller="Message" asp-action="Index" asp-route-MessageId="@message.MessageId" class="list-group-item list-group-item-action flex-column align-items-start ">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">@message.Sender.Nick</h6>
                <small>@message.SentDate.Date</small>
            </div>
            <p class="mb-1">@message.Subject</p>
        </a>
    }
</div>